<nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
   <a href="#"><img src = "/assets/logo.PNG" href="#" height="50px" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <!-- <a class="nav-link" href="#"> Top 100 Recipes!  <span class="sr-only">(current)</span></a> -->
                <div id="three">
                    <button (click)="top()">Top Recipies</button>
                  </div>
            </li>
        </ul>
    </div>
</nav>